.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: OpenSans;
  src: url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Kalam;
  src: url("fonts/Kalam-Regular.ttf");
}

@font-face {
  font-family: Lora;
  src: url("fonts/Lora-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Museo;
  src: url("fonts/MuseoModerno-Regular.ttf");
}

@font-face {
  font-family: Dosis;
  src: url("fonts/Dosis-Regular.ttf");
}

@font-face {
  font-family:Piedra;
  src: url("fonts/Piedra-Regular.ttf");
}

@font-face {
  font-family:Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family:Rubik;
  src: url("fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family:Sacramento;
  src: url("fonts/Sacramento-Regular.ttf");
}

@font-face {
  font-family:Sriracha;
  src: url("fonts/Sriracha-Regular.ttf");
}

@font-face {
  font-family:Amatic SC;
  src: url("fonts/AmaticSC-Regular.ttf");
}

@font-face {
  font-family:Balsamiq Sans;
  src: url("fonts/BalsamiqSans-Regular.ttf");
}

@font-face {
  font-family:Gloria Hallelujah;
  src: url("fonts/GloriaHallelujah-Regular.ttf");
}

@font-face {
  font-family:Libre Baskervil;
  src: url("fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family:Metal Mania;
  src: url("fonts/MetalMania-Regular.ttf");
}

@font-face {
  font-family:Roboto Sl;
  src: url("fonts/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family:Yanone Kaffeesatz;
  src: url("fonts/YanoneKaffeesatz-Regular.ttf");
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
